.checkdiv {
  /* color:black; */
  cursor: text;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 7px;
  font-size: 12px;
  color: #5a5b5b;
}

.checkdivtext {
  color: #5a5b5b;
  cursor: text;
  font-size: 14px;
  font-weight: 650;
  padding-top: 18px;
  padding-bottom: 7px;
}
.hov:hover {
  color: #0283df;
  cursor: pointer;
}
.hov {
  color: #5a5b5b;
}
.mapdivhead {
  position: relative;
}
.mapnarrow {
  position: absolute;
  width: 100px;
  height: 15px;
  /* top: 20px; */
  left: 90px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 2px;
}
.mapnarrowtext {
  position: absolute;
  display: block;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #3c3c3c;
  text-transform: uppercase;
}
.filterparent {
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 4px 5px lightgray;
}
.filter {
  width: 74%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.filterbtns > button {
  color: #fff;
  background-color: #20274d;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  border-radius: 25px;
  margin-left: 15px;
}

.btnnotuse {
  border: none;
  background-color: white;
  font-weight: 700;
}
button i {
  transform: translate(4px ,-2px);
}

.searchinputsmall {
  width: 250px;
  border-radius: 25px;
  border: 1px solid #737373;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px
}
.searchinputtext {
  width: 80%;
  border: none;
  outline: none;
}
