.sortdiv{
    width: 70%;
    height: 60px;
    margin-left: 300px;
    display: flex;
    margin-top: 10px;
    
}
.sortdiv>div{
    height: 50px;
    margin: 10px;
    text-align: center;

}
.sortdiv>div>p{
    margin-top: 10px;
}

.sortchild1{
    border-right: .5px solid rgb(179, 171, 171);
    width: 60px;
    /* margin: 10px; */
}

.sortchild2{
    width: 150px;
    border-right: .5px solid  rgb(179, 171, 171);
    background-color: #0283df;
/* height: 150px; */

}
.sortchild4{
    width: 150px;
    border-right: .5px solid rgb(179, 171, 171);
}
.sortchild4{
    width: 150px;

}

.searchinput{
    width: 350px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: white;

}
.searchinputdate{
    width: 150px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px;
    height: 50px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;

    background-color: white;



}
.searchinputdate2{
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
    margin-right: 10px;
    background-color: white;

}
.searchdiv>div{
    width: 90%;
    margin-left:100px ;
}
.searchdiv{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    margin: auto;
    background: #20274d;


}


.searchinputroom{
    height: 50px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    margin-left: 30px;




}
.searchbtn{
    font-size: 15px;
    height: 50px;
    width: 130px;
    border:  none;
    color: #fff;
    background-color: #5392f9;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);

}
.publicicon{
    position: relative;
    left: 60px;
    z-index: 1;
    top:5px

}
.publicicon1{
    position: relative;
    left: 40px;
    z-index: 1;
    top:7px;

}

