.selectMainDiv {
  width: 87.5%;
  margin: auto;
}
.upperdiv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.selectUpperDiv {
  width: 776px;
  height: 760px;
}

.selectUpperDivImage {
  position: relative;
  width: 776px;
  height: 360px;
  display: flex;
  flex-direction: row;
}
.selectUpperDivImage img {
  transition: 0.3s all ease-in-out;
}
.selectUpperDivImage img:hover {
  filter: brightness(0.5);
}

.selectBigimage {
  filter: brightness(0.6);
}

.selectBigimage:hover {
  filter: brightness(0.3);
}
.selectUpperDivdiv {
  width: 238px;
  height: 45px;
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: white;
  display: flex;
}
.selectUpperDivdiv div {
  width: 50%;
}
.upperdivPosition p:nth-child(1) {
  text-align: right;
  margin-right: 20px;
  color: grey;
  font-size: 12px;
  margin-top: 2px;
}
.upperdivPosition p:nth-child(2) {
  color: #ee595d;
  text-align: right;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bolder;
  margin-top: -15px;
}
.selectUpperDivdiv div:nth-child(1) p:nth-child(2) span {
  font-size: 18px;
  font-weight: bolder;
}
.upperdivPosition2 {
  background-color: #ee595d;
  color: white;
}
.upperdivPosition2 p:first-child {
  margin-top: 0px;
  margin-left: 10px;
  font-weight: bolder;
}
.upperdivPosition2 p:last-child {
  margin-top: -15px;
  margin-left: 10px;
  font-weight: bolder;
}

.selectBigimage {
  width: 435px;
  height: 360px;
}
.selectUpperDivImage2 {
  width: 332px;
  height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.upperImage2 {
  width: 332px;
  height: 227px;
  margin-left: 7px;
}
.selectDivFlexUpper {
  display: flex;
  flex-direction: row;
}
.selectDivFlexUpper img:nth-child(1) {
  width: 164px;
  height: 130px;
  margin: 7px 7px 0px 7px;
}
.selectDivFlexUpper img:nth-child(2) {
  width: 164px;
  height: 130px;
  margin: 7px 0px 0px 0px;
  filter: brightness(0.6);
}
.selectupperh1 {
  position: absolute;
  top: 270px;
  left: 120px;
  color: white;
  text-align: center;
}
.selectupperh1 p {
  font-size: 14px;
}
.selectseeallphotos {
  position: absolute;
  bottom: 50px;
  right: 29px;
  color: white;
  font-size: 12px;
}
.selectrating {
  width: 318px;
  height: 654px;
}
.selectratingdiv1 {
  width: 308px;
  height: 200px;
  border-radius: 4px;
  border-color: rgb(221, 223, 226);
  border-style: solid;
  border-width: 1px;
  padding: 0px 10px;
  box-shadow: none;
  margin: 0px 0px 4px 10px;
  margin-left: 22px;
}
.mapImage {
  width: 308px;
  height: 522px;
  border-radius: 4px;
  border-color: rgb(221, 223, 226);
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  margin-left: 22px;
  overflow: hidden;
}
.mapImageupdiv {
  width: 90%;
  margin: 9% 5%;
  height: 30px;
  display: flex;
  margin-top: 20px;
}
.mapImageupdivdiv1 {
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 2px solid rgb(0, 76, 184);
}
.selectHoteldetails {
  border-radius: 4px;
  border-color: rgb(221, 223, 226);
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  box-shadow: none;
  margin: 16px 0px 0px;
  height: 131px;
}
.mapImageupdivdiv2 {
  display: flex;
  flex-direction: column;
}
.mapImageupdivdiv2 h5 {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: -7px;
}
.mapImageupdivdiv2 p {
  color: rgb(115, 115, 115);
  font-size: 11px;
  margin-left: 5px;
}
.selectHotelmeans {
  border-radius: 4px;
  border-color: rgb(221, 223, 226);
  border-style: solid;
  border-width: 1px;
  padding: 5px 16px;
  box-shadow: none;
  margin: 16px 0px 0px;
  height: 101px;
}
.selectHotelbutton {
  width: 100%;
}
.selectHotelbutton button:nth-child(1) {
  width: 100px;
  height: 29px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(225, 45, 45);
  margin: 0px 6px;
}
.selectHotelbutton button:nth-child(2) {
  width: 100px;
  height: 29px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(50, 169, 35);
  margin: 0px 6px;
}
.selectHotelbutton button:nth-child(3) {
  width: 100px;
  height: 29px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(0, 76, 184);
  margin: 0px 6px;
}
.selectHoteldetails h1 {
  font-weight: 500;
  padding-top: 5px;
}
.selectHoteldetails span {
  color: orange;
  font-size: 19px;
  margin-left: 10px;
  padding-top: -10px;
}
.selectHoteldetails p {
  font-size: 14px;
  line-height: 5px;
  font-weight: 400;
}
.selectHotelmeans i {
  color: rgb(133, 193, 80);
  font-size: 28px;
  margin: 10px 8%;
}
.selectHotelmeans p {
  width: 120px;
  margin: 5px 1.7%;
  font-size: 12px;
  text-align: center;
}
.mapImageimage {
  width: 100%;
  height: 20%;
}
.mapImageimage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}

.mapImage img:hover {
  transform: scale(1.3);
}
.selectpopulardates {
  width: 100%;
  height: 81px;
  padding: 10px;
  border-color: rgb(221, 223, 226);
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  border-radius: 5px;
}
.selectpopulardatesimg {
  display: flex;
}
.selectpopulardatesimg img {
  width: 48px;
  height: 48px;
  margin-right: 2%;
  margin-top: 0.5%;
}
.selectpopulardatesimgdiv {
  display: flex;
  flex-direction: column;
}
.selectpopulardatesimgdivspan1 {
  font-size: 16px;
  color: #ee595d;
}
.selectpopulardatesimgdivspan2 {
  font-size: 14px;
  color: rgb(115, 115, 115);
  font-weight: 400;
  line-height: 0;
}
.selectsyr {
  margin-top: 30px;
}
.commenthr {
  margin: 10px 0px;
  color: rgb(221, 223, 226);
}
.selectinstantconfirm {
  color: rgb(133, 193, 80);
  float: right;
  word-spacing: 2px;
  font-weight: 500;
}
.selectinstantconfirm i {
  margin-right: 10px;
}
.selectfitness {
  color: #0283df;
  cursor: pointer;
  line-height: 25px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 1px;
}
.selectfitness span:first-child {
  margin: 0px 160px 40px 0px;
}
.selectsqr {
  border: 1px solid rgb(221, 223, 226);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.selectsqrt {
  font-weight: 700;
  white-space: normal;
  font-size: 16px;
}
.selectsqrt1 {
  color: red;
  font-size: 13px;
}
.selectinnerdiv {
  width: 98%;
  height: 400px;
  background-color: #f5f5f5;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
}
.selectinnerdiv1 {
  width: 18%;
  display: flex;
  flex-direction: column;
  word-spacing: 0.6px;
  color: #333;
}
.selectinnerdiv1 img {
  width: 99%;
  height: 126px;
  margin-bottom: 20px;
}
.selectinnerdiv1 p {
  font-size: 13px;
  line-height: 17px;
  margin: 5px 0px;
}
.selectinnerdivp1 {
  color: #0283df;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: left;
  line-height: 17px;
}
.selectinnerdiv1 i {
  border-right: 10px;
  margin-left: 5px;
}
.selectinnerdiv2 {
  width: 30%;
  border-right: 3px solid #f5f5f5;
  background-color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.selectinnerdiv2 span {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.42857;
  margin-top: 20px;
  margin-left: 10px;
}
.selectsqrp {
  font-size: 13px;
  color: #2a2a2e;
  margin: 7px 10px;
}
.selectsqrp i {
  color: rgb(133, 193, 80);
  margin-right: 10px;
}
.facilitiesrightDiv {
  padding-top: 20px;
}
.selectinnerdiv3 {
  width: 10%;
  border-right: 3px solid #f5f5f5;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.selectinnerdiv3 i {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  color: rgb(116, 109, 109);
}
.selectsquare {
  width: 60%;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}
.selectinnerdiv4 {
  width: 15%;
  border-right: 3px solid #f5f5f5;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.selectinnerdiv5 {
  width: 10%;
  border-right: 3px solid #f5f5f5;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.selectinnerdiv6 {
  width: 15%;
  border-right: 3px solid #f5f5f5;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.selectinnerdivs {
  background-color: #f5f5f5;
  padding: 0px 20px 5px 20px;
  font-weight: 500;
  color: #333;
}
.selectinnerbutton {
  width: 80%;
  margin: 10px 10%;
  background-color: #53b7ff;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
}
.selectreservediv {
  width: 80%;
  margin: 5px 10%;
  background-color: rgb(234, 247, 234);
  height: 50px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  color: rgb(22, 109, 80);
}
button {
  cursor: pointer;
}
.selectmodaldivright {
  display: flex;
  flex-direction: column;
}
.selectmodaldivright h3 {
  margin-bottom: 0px;
  margin-top: 10px;
}
.selectmodaldivright h6 {
  color: #0283df;
  font-size: 10px;
}
.selectRatingDiv {
  display: flex;
  height: 50px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.selectRatingDiv1 {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: rgb(83, 146, 249);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  color: white;
}
.selectRatingDiv1 h2 {
  margin: 13px 0px 0px 13px;
  color: white;
}
.selectRatingdivs {
  border: 1px solid rgb(211, 208, 208);
  width: fit-content;
  padding: 3px 13px 0px 13px;
  height: 30px;
  border-radius: 30px;
  margin-bottom: 5px;
  color: rgb(50, 169, 35);
}

.selectRatingdivs span {
  color: #2a2a2e;
}
.selectRatingdivs i {
  margin-left: 10px;
}

/* __________Navbar--------- */
.navbarmaindiv {
  width: 100%;
  height: 50px;
  box-shadow: 7px 0px 7px grey;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  display: flex;
}
.navbarmaindiv button {
  border: none;
  background-color: white;
  text-align: center;
  margin-right: 30px;
  font-size: 13.7px;
  margin-top: 15px;
}
.navbarmaindiv button:active {
  color: blue;
}
.selectfaqh1 {
  margin: 20px 0px;
}
.selectfaqiv1 {
  display: flex;
}
.faqdivdiv1 {
  width: 100%;
  margin-right: 50px;
}
.selectFaqimage {
  width: 300px;
  height: 200px;
  transition: 0.5s all ease-in-out;
}
.selectFaqimage:hover {
  transform: scale(1.2);
}
.selectFaqbutton {
  width: 300px;
  background-color: rgb(83, 146, 249);
  height: 40px;
  margin-top: 30px;
  border: none;
}
.selectFaqbutton h3 {
  color: white;
  padding-top: 6px;
}
.selectmapfaqs {
  padding: 20px;
  overflow: hidden;
}
.selectaccodionsummary {
  height: 65px;
  background-color: rgb(243, 243, 243);
}
.selectaccodionsummary:hover {
  background-color: rgb(83, 146, 249);
  color: white;
}
.selectAccordion {
  margin: 13px 0px;
  border-left: 5px solid #0283df;
}
.selectAccordion1 {
  margin: 4px 0px;
}
.mapImageh4 {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
.mapImageh4 i {
  margin-right: 10px;
}
.mapImageh42 {
  margin-left: 20px;
  margin-top: 6px;
  font-weight: 600;
  font-size: 14px;
}
.mapImageh42 i {
  margin-right: 10px;
  color: red;
}
.selectmapDiv {
  margin: 8px 20px;
  display: flex;
  height: 35px;
  justify-content: space-between;
  border-top: 1px solid rgb(149, 146, 139);
  border-bottom: 1px solid rgb(149, 146, 139);
  padding: 4px 5px;
}
.selectmapDiv i {
  margin-right: 10px;
}
.selectmapDiv p:last-child {
  color: rgb(133, 193, 80);
}
.selectlandmarksdiv {
  overflow: hidden;
  height: 157px;
}
.selectQutub {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 0px 20px;
  color: #4e4e4e;
}
.lastmapdiv img {
  width: 100%;
  height: 270px;
  margin: 30px 0px;
}
.selectFacilities {
  display: flex;
  height: 112px;
  margin: 40px 0px;
}
.selectFacilitiesdiv1 {
  width: 30%;
}
.selectFacilitiesdiv1 h4 {
  font-weight: 500;
  color: #4e4e4e;
  font-size: 18px;
  line-height: 20px;
}
.selectFacilitiesdiv2 {
  width: 65%;
  margin-left: 5%;
  background-color: rgb(244, 248, 254);
  padding: 12px;
  font-size: 14px;
  color: #4e4e4e;
  line-height: 10px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 1%;
}
.selectFacidiv2divs {
  display: flex;
  flex-direction: column;
}
.selectFacidiv2divs i {
  color: rgb(91, 151, 249);
  width: 28px;
  height: 29px;
  font-size: 24px;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.selectFacidiv2divs p {
  font-size: 14px;
  text-align: center;
  color: #2a2a2e;
  letter-spacing: 0.5px;
}
.selectFacidiv2divs span {
  font-size: 14px;
  color: rgb(91, 151, 249);
  text-align: center;
  margin-top: 3px;
  letter-spacing: 0.5px;
}
.highDemand {
  width: 776px;
  height: 77px;
  padding: 14px;
  margin-top: 25px;
  background-color: rgb(253, 243, 243);
  display: flex;
}
.selectpopulardatesimg {
  display: flex;
}
.highDemand img {
  width: 48px;
  height: 48px;
  margin-right: 2.5%;
}
.highDemandimgdiv {
  display: flex;
  flex-direction: column;
}
.highDemandimgdivspan1 {
  font-size: 16px;
  color: #ee595d;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-top: 0px;
}
.highDemandimgdivspan2 {
  font-size: 14px;
  color: rgb(115, 115, 115);
  font-weight: 400;
  line-height: 0;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.selectmapImagelastDiv {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border-top: 1px solid rgb(202, 180, 180);
}
.selectmapImagelastDiv h5 {
  color: #5392f9;
  font-size: 15px;
  line-height: 1.42857;
  text-align: right;
  padding-top: 10px;
}
.selectRatingModal {
  width: 450px;
  height: 270px;
  padding: 15px;
  box-shadow: 0px 0px 16px gainsboro;
}
.selectRatingModal h4 {
  color: #696262;
}
.RatingModalDivs {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  font-size: 12px;
}
.RatingModalDivs4 {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  font-size: 12px;
}
.RatingModalDivs1 {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  font-size: 12px;
}
.RatingModalDivs2 {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  font-size: 12px;
}
.RatingModalDivs3 {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  font-size: 12px;
}

.RatingBlueDiv {
  background-color: rgb(248, 239, 239);
  border-radius: 13px;
  width: 200px;
  height: 7px;
  padding: 1px;
}
.RatingBlueDiv1 {
  background-color: rgb(248, 239, 239);
  border-radius: 13px;
  width: 200px;
  height: 7px;
  padding: 1px;
}
.RatingBlueDiv4 {
  background-color: rgb(248, 239, 239);
  border-radius: 13px;
  width: 200px;
  height: 7px;
  padding: 1px;
}
.RatingBlueDiv2 {
  background-color: rgb(248, 239, 239);
  border-radius: 13px;
  width: 200px;
  height: 7px;
  padding: 1px;
}
.RatingBlueDiv3 {
  background-color: rgb(248, 239, 239);
  border-radius: 13px;
  width: 200px;
  height: 7px;
  padding: 1px;
}

.RatingBlueDiv > div {
  background-color: #5392f9;
  width: 50%;
  height: 7px;
  border-radius: 10px;
}
.RatingBlueDiv1 > div {
  background-color: #5392f9;
  width: 40%;
  height: 7px;
  border-radius: 10px;
}
.RatingBlueDiv2 > div {
  background-color: #5392f9;
  width: 20%;
  height: 7px;
  border-radius: 10px;
}
.RatingBlueDiv3 > div {
  background-color: #5392f9;
  width: 40%;
  height: 7px;
  border-radius: 10px;
}
.RatingBlueDiv4 > div {
  background-color: #5392f9;
  width: 25%;
  height: 7px;
  border-radius: 10px;
}
.RatingModalButton {
  width: 200px;
  height: 40px;
  color: #5392f9;
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 130px;
  border: none;
  border: 2px solid #5392f9;
}
.RatingModalButton:hover {
  background-color: #5392f9;
  color: white;
}
.selectHeart {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
}
.selectHeart img {
  width: 25px;
  height: 25px;
  margin: auto;
  margin: 8px 0px 6px 7px;
}
.selectHeart img:hover {
  filter: brightness(1);
}
.priceernightdiv1 {
  width: 104px;
  background-color: rgb(225, 45, 45);
  height: 22px;
  color: #f5f5f5;
  padding: 4px 8px;
  margin: 10px 0px;
}
.priceernightdiv1 h6 {
  color: white;
}
.priceernightdiv2 {
  width: 154px;
  height: 38px;
  background-color: rgb(216, 238, 213);
  color: rgb(40, 135, 28);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 10px;
}
.priceernightdiv2 p {
  padding-top: 15px;
  padding-left: 10px;
}
.priceernightdiv3 {
  width: 163px;
  height: 40px;
  padding: 5px;
  background-color: rgb(253, 243, 243);
  color: rgb(180, 36, 36);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42857;
}
.mapExplorediv {
  width: 100%;
  height: 60px;
}
.mapAccordion {
  display: flex;
  flex-direction: column;
}
.mapExplorediv {
  display: flex;
  padding: 5px;
  border-bottom: 3px solid rgb(224, 222, 222);
  color: #4e4e4e;
}
.mapExplorediv:hover {
  background-color: rgb(214, 211, 211);
}
.mapExplorediv img {
  width: 50px;
  height: 50px;
}
.mapExplorediv h3 {
  margin-left: 20px;
  margin-top: 0px;
  font-size: 16px;
}
.mapExplorediv h5 {
  margin-left: 20px;
  margin-top: -8px;
}
.selectaccodionsummary1 {
  width: 100%;
  height: 10px;
  border-bottom: 2px solid rgb(224, 222, 222);
}
.mainImagemap {
  display: flex;
}
.upperdivmap {
  border-top: 4px solid #5392f9;
  background-color: rgb(243, 243, 243);
  padding: 10px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 3px solid rgb(224, 222, 222);
}
.navbarmaindivdiv1 {
  width: 45%;
  margin-left: 8%;
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
}
.navbarmaindivdiv1 button:hover {
  color: #5392f9;
  border-bottom: #5392f9 2px solid;
}
.navbarmaindivdiv2 {
  margin-left: 15%;
  width: 30%;
  display: flex;
}
.navbarmaindivdiv2 button {
  width: 130px;
  background-color: #5392f9;
  color: white;
  border-radius: 5px;
  margin-left: 2%;
  height: 70%;
  margin-top: 8px;
  transition: 0.5s all ease-in-out;
}
.navbarmaindivdiv2 button:hover {
  background-color: #7da6e4;
}
.navbarmaindivdiv2 button h3 {
  color: white;
  padding-top: 5px;
}
.navbarmaindivdiv2div1 > h3 {
  color: #ee595d;
  font-size: 22px;
  margin-top: -6px;
}
.navbarmaindivdiv2 p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #696262;
}
.navbarmaindivdiv2div1 {
  display: flex;
  flex-direction: column;
}
.navbarmaindivdiv2div1 h6 {
  color: #4e4e4e;
  padding-top: 5px;
}
