.upperdiv {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.commentspan {
  font-size: 14px;
  font-weight: 700;
  color: #2a2a2e;
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.commenthr {
  margin: 20px 0px;
  color: rgb(221, 223, 226);
}
.selectNav {
  box-shadow: 0px 0px 0px white;
}

.commentMainDiv {
  display: flex;
  width: 100%;
  padding: 20px;
}
.commentMainDiv1 {
  width: 30%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 60px 20px;
  color: #4e4e4e;
  line-height: 2;
}
.commentMainDiv2 {
  width: 68%;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 30px 60px 20px;
}
.commentMainDiv2 p {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #333;
  margin: 0 0 15px;
}
.commentMainDiv2 span:nth-child(1) {
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  font-weight: 200;
  color: #4e4e4e;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.commentMainDiv2 span:nth-child(2) {
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  font-weight: 200;
  color: #4e4e4e;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.commentMainDiv2 button {
  margin-top: 16px;
  width: 127px;
  height: 44px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  background-color: rgb(83, 146, 249);
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42857;
  border: none;
  float: right;
}
.commentpagination {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.commentpaginationbuttton button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 3.5px;
  border: none;
}
.commentpaginationbuttton button:hover {
  background-color: #b9afaf;
}
