.advertImg{
  display: flex;
}
.advertImg img {
  width: 95%;
  margin: -180px 10px 50px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(170, 170, 170), -4px -4px 10px lightgray;
  cursor: pointer;
}
.scrollNav{
  display: flex;
  align-items: center;
  padding: 0 100px;
  background-color: #1e2d71;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.scrollNav > button{
  padding:9px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: dodgerblue;
  color: #fff;
  letter-spacing:1px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.scrollNavSearch{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.scrollNavSearch > input{
  border: none;
  outline: none;
}