.india_Dest_Cont {
  height: 280px;
}
.india_dest_heading {
  text-align: center;
}
.carouselImg {
  border-radius: 50%;
  width: 100px;
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.carouselImg:hover {
  width: 120px;
  transition: width 200ms ease-in-out;
}
.carouselItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carouselItems > h4 {
  margin-top: 20px;
}
